html{
    overflow-x: hidden;
}
.header-game{
    background-color: black;
}
body{
    background-color: rgb(125, 125, 125);
}
header{
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    background-color: black;
    height: 10%;
    display: flex;
    flex-direction: row;
}
#logo{
    height: 85px;
}
#cim{
    color: rgb(255, 255, 255);
}
.fejlecszoveg{
    margin-right: -20%;
}
#fejlecelem{
    padding-left: 15%;
    list-style-type: none;
}
.fejlec{
    margin-left: 280%;
    padding-left: 30%;
    margin-top: 4%;
    color: rgb(255, 255, 255);
    display: inline-flex;
}
h3{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 70px;
    color: white;
}
a{
    padding-left: 18px;
    color: white;
    text-decoration: none;
}
p{
    font-size: 25px;
}
#elsokep{
    width: 700px;
}
#elsodiv{
    text-align: center;
}
#miertszoveg{
    font-size: 21px;
}
#csatlakozz{
    font-size: 20px;
}
.dlc{
    margin-right: 1px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery__item--6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}
.gallery__item--8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
}
.container{
    text-align: center;
    color: azure;
}
#assasin{
    margin-top: -15%;
    background-color: black;
}
#farming{
    margin-top: -15%;
}
#forza{
    margin-top: -15%;
}
#gow{
    margin-top: -15%;
    color: rgb(220, 235, 187);
}
#gta{
    margin-top: -15%;
}
#rainbow{
    margin-top: -15%;
}
#ghost{
    margin-top: -15%;
    color: black;
}
#ghostdlc{
    margin-top: -15%;
    color: white;
}
#ratchet{
    margin-top: -15%;
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}
.menu__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
    top: 20px;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    text-align: right; /* Jobbra igazítja a szöveget */
}
.menu__item:hover {
    background-color: #CFD8DC;
}
@media only screen and (max-width: 1189px) {
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    visibility: visible;
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
    }
    .fejlecszoveg{
        visibility: hidden;
    }
}
@media only screen and (max-width: 1090px){
    .gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 15px;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .gallery__item--2 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .gallery__item--4 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .gallery__item--6 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .gallery__item--7 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .gallery__item--8 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    
}