body {
    width: 100%;
    overflow-x: hidden;
}
.header-game {
    background-color: black;
}

body {
    background-color: rgb(125, 125, 125);
}
#feher{
    color: white;
}
header {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.jatekheader {
    margin-left: -8px;
    margin-top: -8px;
    background-color: black;
    height: 88px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    
}
#logo {
    height: 85px;
}

#cim {
    color: rgb(255, 255, 255);
}
#jatekcim{
    color: rgb(255, 255, 255);
    height: 20px;
    font-size: 35px;
}
#h1{
    font-size: 25px;
}
#jateklogo{
    height: 94px;
}
#fejlecelem {
    padding-left: 15%;
    list-style-type: none;
}

.fejlec {
    font-size: 30px;
    padding-left: 30%;
    margin-left: 200%;
    margin-top: -5%;
    color: rgb(255, 255, 255);
    display: inline-flex;
}
.fejlecjatek {
    font-size: 30px;
    padding-left: 30%;
    margin-left: 210%;
    margin-top: -5%;
    color: rgb(255, 255, 255);
    display: inline-flex;
    font-size: 33px;
}
h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 70px;
    color: white;
}
h2{
    font-size: 50px;
    text-align: center;
    color: white;
}
a {
    padding-left: 18px;
    color: white;
    text-decoration: none;
}

p {
    font-size: 25px;
}

#elsokep {
    width: 700px;
}

#elsodiv {
    text-align: center;
}

#miertszoveg {
    font-size: 21px;
}

#csatlakozz {
    font-size: 20px;
}

.dlc {
    margin-right: 1px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    margin-bottom: 35px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.gallery__item--6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

.gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}

.gallery__item--8 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
}

.container {
    text-align: center;
    color: rgb(255, 255, 255);
}

#assasin {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

#farming {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

#forza {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

#gow {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

#gta {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

#rainbow {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

#ghost {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}
#ghostdlc {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}

#ratchet {
    margin-top: -2%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
}
.hamburger-menu{
    margin-left: -250px;
}
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    right: 0 !important;
}
.menu__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: none;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
    top: 20px;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 113%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    text-align: right;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

@media only screen and (max-width: 1322px) {

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        visibility: visible;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .fejlec{
        visibility: hidden;
    }
    .fejlecjatek{
        visibility: hidden;
    }
}

@media only screen and (max-width: 1090px) {
    html{
        margin-right: 20px;
    }
    h3{
        font-size: 50px;
    }
    header{
        margin-right: -12px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 15px;
    }
    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery__item--2 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery__item--4 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gallery__item--6 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gallery__item--7 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .gallery__item--8 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 5;
    }

}
@media only screen and (max-width: 734px) {
    #elsokep {
        width: 100%;
        margin-right: 10px;
    }
    h3{
        font-size: 40px;
        text-align: left;
    }
    p{
        font-size: 21px;
    }
}
@media only screen and (max-width: 715px) {
    #cim{
        inline-size: max-content;
    }
}
@media only screen and (max-width: 641px) {
    
}
@media only screen and (max-width: 625px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 15px;
    }

    .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .gallery__item--6 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .gallery__item--7 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .gallery__item--8 {
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    #assasin {
        margin-top: -1%;
    }
    
    #farming {
        margin-top: -1%;
    }
    
    #forza {
        margin-top: -1%;
    }
    
    #gow {
        margin-top: -1%;
    }
    
    #gta {
        margin-top: -1%;
    }
    
    #rainbow {
        margin-top: -1%;
    }
    
    #ghost {
        margin-top: -1%;
    }
    #ghostdlc {
        margin-top: -1%;
    }
    
    #ratchet {
        margin-top: -1%;
    }
}
@media only screen and (max-width: 467px) {
    #jatekcim{
        font-size: 28px;
        margin-top: 30px;
    }
}
@media only screen and (max-width: 420px) {
    h1{
        font-size: 25px;
        margin-top: 27px;
    }
}